
body {
    background-color: #ec2233;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Alternate Gothic No1 D"; 
    margin-top: 2%;
}
h1, h2 {
    padding: 0;
    margin: 1%;
    color: black;
}
.menu-principal a{
    margin: 0 auto;
    width: 33%;
}
.menu-principal img{
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 12%;
}
#logo-principal {
    width: 60%;
    float: center;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto
}
hr {
    margin: 1%; 
}
.container {
    clear: both;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
}
.container-teste {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
}
.container #nav-principal a {
    margin-top: 1%;
    background-color: white;
    width: 46%;
}
.container #nav-principal a img {
    float: center;
    width: 49.7%;
    border-radius: 20px;
}

.container #nav-principal a img:hover {
    background: yellow;
}
.container h3, .container p {
    padding: 2%;
}
.container h1{
    color:black;
    padding: 2%;
    text-align: center;
    margin-bottom: 5%;
}
.container label {
    clear: both;
}
.container hr{
    margin-top: 5%;
    margin-bottom: 5%;
}
footer{
    padding: 5%;
    text-align: center;
    font-size: 150%;
    color: black;
}

.menu-manter{
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2%;
}

.menu-manter img {
    padding-right: 6.3%;
    padding-left: 6.3%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 50%;
}
.menu-manter button {
    width:49.8%;
    background-color: transparent;
    border: solid transparent 2px;
}
.menu-manter button:hover {
  border-radius: 20px;
  background-color: yellow;
  border: yellow solid 2px;
}
.test {
    width:50%;
    background-color: transparent;
    border: solid transparent 2px;
}
.test:hover {
    border-radius: 20px;
  background-color: yellow;
  border: yellow solid 2px;
}
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 250%;
    font-family: "Alternate Gothic No1 D"; 
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 250%;
    font-family: "Alternate Gothic No1 D"; 
    
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 250%;
    font-family: "Alternate Gothic No1 D"; 
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 250%;
    font-family: "Alternate Gothic No1 D"; 
  }
  input[type=submit] {
    width: 100%;
    background-color: #ec2233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 450%;
    font-family: "Alternate Gothic No1 D"; 
  }
  input[type=button] {
    width: 100%;
    background-color: #ec2233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 450%;
    font-family: "Alternate Gothic No1 D"; 
  }
  input[type=date] {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Alternate Gothic No1 D"; 
    font-size: 180%;
  }
  input[type=time] {
    clear: both;
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Alternate Gothic No1 D"; 
    font-size: 180%;
  }
  textarea{
    clear: both;
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Alternate Gothic No1 D"; 
    font-size: 200%;
  }
  .descricao {
    font-size: 400%;
    height: 150px;  
}
.lembrete{
  width: 100%;
}
.descricao-lembrete{
  width: 100%;
  padding-right:2%;
  padding-left:2%;
  clear: both;
  font-size: 400%;

}
.titulo-lembrete{
  float: left;
  width: 76%;
  padding-right:2%;
  font-size: 550%;
  display: block;
}
.img-lembrete{
  float: right;
  width:20%;
  padding-left: 2%;;
  display: block;
}
#incluir {
    float: right;
    width: 20%;
    background-color: transparent;
    border: solid transparent 2px;
    padding-right: 6%;
}
#incluir img{
    padding-bottom: 1%;
    padding-top: 1%;
    width: 150%;
}
.titulo {
    float: center;
    width: 94%;
    font-size: 500%; 
}
.titulo2 {
    float: left;
    width: 94%;
    font-size: 400%; 
}
p {
    text-align:justify;
    font-size: 250%; 
}
.container-campo {
    border-radius: 20px;
    padding: 4%;
    width: 91%;
    font-size: 350%;
    display: block;
    font-size: 450%;
}
.container-campo a {
    text-decoration: none;
    color: black;
}
.container-campo a:visited {
    text-decoration: none;
    color: black;
}
.container-campo label{
    float: right;
}
.container-data {
    border: solid transparent;
    background-color: transparent;
    border-radius: 20px;
    padding: 4%;
    width: 100%;
    font-size: 350%;
    display: block;
    text-align:left;
}
.container-data:hover {
    border: solid yellow;
    background-color: yellow;
    border-radius: 20px;
}
.container button {
    text-decoration: none;
    color: black;
}
.container button:visited {
    text-decoration: none;
    color: black;
}
.container-conf{
  display: block;
  width: 100%;
}
.container-conf button{
  clear: both;
  background: transparent;
  border:transparent;
  width:100%;
}
.container-conf button img {
  float: left;
  padding:3%;
  width:30%;
}
.container-conf button h3 {
  font-size:300%;
  text-align: center;
  float: right;
  width:60%;
  
}
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 68px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ec2233;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(52px);
    -ms-transform: translateX(52px);
    transform: translateX(52px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 68px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sliderRange {
    -webkit-appearance: none;
    width: 82%;
    height: 30px;
    border-radius: 10px;   
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
  }
  
  .sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background: #ec2233;
    cursor: pointer;
  }
  
  .sliderRange::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ec2233;
    cursor: pointer;
  }
  .container-campo img{
      padding-top: 3%;
      width:7%;
  }
  .alertInfo {
    border: none;
    background-color: solid lightgray;
    border-radius: 10px;
    padding: 4%;
    width: 100%;
    font-size: 250%;
    display: block;
    text-align:left;
    font-family: "Alternate Gothic No1 D"; 
  }
  .alertErro {
    border: none;
    background-color: solid lightcoral;
    border-radius: 10px;
    padding: 4%;
    width: 100%;
    font-size: 250%;
    display: block;
    text-align:left;
    font-family: "Alternate Gothic No1 D"; 
  }

/**LIMBO**/
/**
aside {
    margin-top: 2%;
    background-color: #ec2233;
    border-radius: 15px;
    width: 25%;
    padding: 1%;
    color: white;
    font-size: 150%;
   
}
aside ul {
    padding: 2%;
}
aside ul:hover {
    border-radius: 5px;
    background-color: yellow;
    color: #ec2233;
}
.container .button:link, .container .button:visited {
    width: 100%;
    background-color: #ec2233;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btonoff {
    position: relative;
    float: right;
    width: 66px;
    height: 32px;
    cursor: pointer;
    
}
.btonoff input {
position: absolute;
width: 100%;
height: 100%;
top:0;
left: 0;
visibility: hidden;
cursor: pointer;
text-align: center;
color: transparent;
}
.btonoff label{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-color: #ec2233;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}
**/
